version: "3.3"

services:
  mysql-central-openmrs:
    image: mysql:5.7.31
    container_name: mysql-central-openmrs
    env_file:
      - db-openmrs.env
    ports:
      - "3307:3306"
    volumes:
      - ./central-openmrs-my.cnf:/etc/mysql/my.cnf
      - ./openmrs.sql:/docker-entrypoint-initdb.d/openmrs.sql
      - ./openmrs_common_config.sql:/docker-entrypoint-initdb.d/openmrs1.sql
      - ./openmrs_central_config.sql:/docker-entrypoint-initdb.d/openmrs2.sql

  mysql-central-dbsync:
    image: mysql:5.7.31
    container_name: mysql-central-dbsync
    env_file:
      - db-dbsync.env
    ports:
      - "3407:3306"
    volumes:
      - ./central-dbsync-my.cnf:/etc/mysql/my.cnf

  mysql-remote-openmrs:
    image: mysql:5.7.31
    container_name: mysql-remote-openmrs
    env_file:
      - db-openmrs.env
    ports:
      - "3308:3306"
    volumes:
      - ./remote-openmrs-my.cnf:/etc/mysql/my.cnf
      - ./openmrs.sql:/docker-entrypoint-initdb.d/openmrs.sql
      - ./openmrs_common_config.sql:/docker-entrypoint-initdb.d/openmrs1.sql
      - ./openmrs_remote_config.sql:/docker-entrypoint-initdb.d/openmrs2.sql
      - ./patients.sql:/docker-entrypoint-initdb.d/openmrs3.sql

  mysql-remote-dbsync:
    image: mysql:5.7.31
    container_name: mysql-remote-dbsync
    env_file:
      - db-dbsync.env
    ports:
      - "3408:3306"
    volumes:
      - ./remote-dbsync-my.cnf:/etc/mysql/my.cnf

  artemis:
    image: cnocorch/activemq-artemis
    container_name: artemis
    ports:
      - "61616:61616"
      - "8161:8161"
    volumes:
      - ./artemis-roles.properties:/var/lib/artemis/etc/artemis-roles.properties
      - ./artemis-users.properties:/var/lib/artemis/etc/artemis-users.properties
      - ./broker.xml:/var/lib/artemis/etc/broker.xml

  keycloak:
    image: jboss/keycloak
    container_name: keycloak
    ports:
      - "8083:8080"
    env_file:
      - keycloak.env
  #  volumes:
  #    - ./keycloak-db:/opt/jboss/keycloak/standalone/data

  #prometheus:
  #  image: prom/prometheus
  #  container_name: prometheus
  #  ports:
  #    - "9090:9090"
  #  depends_on:
  #    - openmrs-central
  #  volumes:
  #  - ./prometheus-config.yml:/etc/prometheus/prometheus.yml

  openmrs-central:
    image: tomcat:7.0.109-jdk8-openjdk-slim
    container_name: openmrs-central
    depends_on:
      - mysql-central-openmrs
      - artemis
      - keycloak
    volumes:
      - ./openmrs.war:/usr/local/tomcat/webapps/openmrs.war
      - ./central-runtime.properties:/root/.OpenMRS/openmrs-runtime.properties
      - ./central-oauth2.properties:/root/.OpenMRS/oauth2.properties
      - ./modules:/root/.OpenMRS/modules
    #  - ./modules/legacyui-1.12.0.omod:/root/.OpenMRS/modules/legacyui-1.12.0.omod
    #  - ./modules/webservices.rest-2.36.0.omod:/root/.OpenMRS/modules/webservices.rest-2.36.0.omod
    #  - ./modules:/root/.OpenMRS/modules/oauth2login-1.0.0-SNAPSHOT.omod
    ports:
      - "8081:8080"

  openmrs-remote:
    image: tomcat:7.0.109-jdk8-openjdk-slim
    container_name: openmrs-remote
    environment:
      TZ: "Africa/Kampala"
    depends_on:
      - mysql-remote-openmrs
      - artemis
      - keycloak
    volumes:
      - ./openmrs.war:/usr/local/tomcat/webapps/openmrs.war
      - ./remote-runtime.properties:/root/.OpenMRS/openmrs-runtime.properties
      - ./remote-oauth2.properties:/root/.OpenMRS/oauth2.properties
      - ./modules:/root/.OpenMRS/modules
    #  - ./modules/legacyui-1.12.0.omod:/root/.OpenMRS/modules/legacyui-1.12.0.omod
    #  - ./modules/webservices.rest-2.36.0.omod:/root/.OpenMRS/modules/webservices.rest-2.36.0.omod
    ports:
      - "8082:8080"
